ToCode2/annuaire.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
<xs:complexType name="numerosType">
	<xs:element name="telephone" type="xs:string"/>
</xs:complexType>
<xs:complexType name="contactType">
	<xs:atttibute name="techno" type="xs:string" use="optional" />
	<xs:element name="nom" type="xs:string" />
	<xs:element name="prenom" type="xs:string" />
	<xs:element name="email" type="xs:string" />
	<xs:element name="telephone" type="numerosType" use="optional"/>
</xs:complexType>
</xs:schema>